*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    background-image: url(fondos.jpg);
}
.new-restaurant{
    width: 400px;
    background: rosybrown;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
}
.new-restaurant h4{
    font-size: 22px;
    margin-bottom: 20px;
}
.lab{
    font-size: 18px;
    margin-bottom: 20px;
}
.controls{
    width: 100%;
    background: whitesmoke;
    padding: 10px;
    border-radius: 4px;
    margin: auto;
    margin-bottom: 16px;
    border: 1px solid rgb(239, 243, 230);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.new-restaurant .sub{
    width: 100%;
    background:rgb(43, 138, 155) ;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
}